<!-- sales section start  -->
<section>
  <div class="container mt-5 salessection">
    <div class="row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0">
        <div>
          <div class="py-10 px-8 rounded-3"
            style="background:url(assets/img/devices.jpg)no-repeat; background-size: cover; background-position: center; padding: 15px;">
            <div>
              <h3 class="fw-bold mb-1">Electronics
              </h3>
              <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
              <a href="#!" class="btn btn-dark">Shop Now</a>
            </div>
          </div>

        </div>

      </div>
      <div class="col-12 col-lg-6 ">

        <div>
          <div class="py-10 px-8 rounded-3"
            style="background:url(assets/img/fashionable-white-clothing-hangers-with-red-tag-inscriped-sale-hanging-wooden-rack-against-yellow-background-copy-space.jpg)no-repeat; background-size: cover; background-position: center; padding: 15px;">
            <div>
              <h3 class="fw-bold mb-1">Clothing
              </h3>
              <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
              <a href="#!" class="btn btn-dark">Shop Now</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- sales section end  -->
