<div class="container" id="container1">

  <div class="row">

    <ng-container *ngIf="cart.length ==0">
      <div class="container">
        <div class="card">
          <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
          <i class="fa fa-shopping-cart" aria-hidden="true" style="color: rgb(255, 153, 0);"></i>
          <h4>Your cart is empty!</h4>
          <h6>Add item to it now</h6>
          <button routerLink="/product" class="btn btn-primary">Shop Now</button>
        </div>
      </div>
    </ng-container>


    <div class="column" *ngFor="let productList of cart">
      <div class="parent">
        <div class="preview">
          <!-- <center> -->
          <img src="../../assets/img/{{productList.productimage}}" alt="" class="img-responsive">
          <!-- </center> -->
        </div>

        <div class="info">

          <table>
            <tr>
              <td colspan="2">

                <h6>{{productList.productName}}</h6>
              </td>
            </tr>

            <tr>
              <td>
                <h6>Price:-</h6>
              </td>
              <td>
                <h6><span class="product-price">{{productList.price|currency:'INR'}}</span></h6>
              </td>
            </tr>


            <tr>
              <td>
                <h6>Details:-</h6>
              </td>
              <td>
                <h6><span class="product-price">{{productList.productDetail}}</span></h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6>quantity:-</h6>
              </td>
              <td>
                <h6><span class="product-price">{{productList.quantity}}</span></h6>
              </td>
            </tr>
          </table>
          <button class="btnn1" (click)="onQtyIncreace(productList)"><i class="fa fa-plus" aria-hidden="true"></i>
            Q</button>
          <button class="btnn2" (click)="onQtydeduct(productList)"><i class="fa fa-minus" aria-hidden="true"></i>Q
          </button>
          <button class="btnn" (click)="onDelete(productList)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>

      </div>
    </div>

    <!------------------------------------------------total section------------------------------------------------------------------  -->

    <div class="parent" style="background-color:rgb(235, 243, 251);margin-top: 15px;margin-bottom: 150px;" id="lastcol">

      <div class="info" *ngIf="cart.length!==0">

        <p style="margin-top: 5px;margin-bottom: 5px;">TOTAL BILL = <b><span
              class="tot">{{grandtotal|currency:'INR'}}</span></b></p>

        <button class="btnn1" id="last" (click)="checkout()" *ngIf="cart.length!==0">PLACE ORDER</button>
      </div>
    </div>


  </div>

</div>
