// @import "~@coreui/chartjs/scss/coreui-chartjs";
// @import "~@coreui/coreui-pro/scss/coreui";
.chart-s{
width: 200px;
height: 200px;
}

.chart-b{
  width: 300px;
  height: 300px;
  }
.row__title {
  color: #53646f;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
