<!-- services section start  -->
<section class="my-lg-14 my-8">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="mb-8 mb-xl-0">
          <div class="mb-6"><img src="assets/img/svg icons/clock.svg" alt=""></div>
          <h3 class="h5 mb-3 mt-3">
            WishList to Add to Cart Now.
          </h3>
          <p>Fill your closet with
            <br>the wishList you have.
          </p>
        </div>
      </div>
      <div class="col-md-6  col-lg-3">
        <div class="mb-8 mb-xl-0">
          <div class="mb-6"><img src="assets/img/svg icons/gift.svg" alt=""></div>
          <h3 class="h5 mb-3 mt-3">Best Prices & Offers</h3>
          <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best
            pricess & offers.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="mb-8 mb-xl-0">
          <div class="mb-6"><img src="assets/img/svg icons/package.svg" alt=""></div>
          <h3 class="h5 mb-3 mt-3">Wide Assortment</h3>
          <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg &
            other categories.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="mb-8 mb-xl-0">
          <div class="mb-6"><img src="assets/img/svg icons/refresh-cw.svg" alt=""></div>
          <h3 class="h5 mb-3 mt-3">Easy Returns</h3>
          <p>Not satisfied with a product? Return it at the doorstep & get a refund within hours. No
            questions asked
            <a href="#" class="text-inherit text-dark  text-decoration-none fw-bold"
              style="color:green !important ;">policy</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
