<section class="mt-5">
  <div class="container">
    <div class="img-main-banner">
      <div
        style="background: url(assets/img/slide-1.jpg)no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">
        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">

          <span class=" badges">A one Stop Shop for your Wishlist</span>

          <h2 class="text-dark display-5 fw-bold mt-4">Your WishList<br> Our Inventory</h2>
          <p class="lead">Our inventory is always ready for your WishList.
          </p>
          <a [routerLink]="['/product']" class="btn btn-dark mt-3">Shop Now <i class="bi bi-arrow-right"></i></a>
        </div>

      </div>
    </div>
  </div>
</section>
<app-sale-product></app-sale-product>
<!-- <app-products></app-products> -->
<app-about-info></app-about-info>
<app-footer></app-footer>